.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 4rem;
  width:50%;
  height:40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
